<span us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span>

<div class="quiz-section" ng-show="Word">

  <h3>{{Word.word}}</h3>
  <div ng-repeat="section in Word.sections">
    <p ng-bind-html="section.paragraph"></p>
  </div>

</div>

<p>&nbsp;</p>
<button class="btn btn-primary" ng-click="goBack()">Back</button>
<button id="copyBtn" class="btn btn-primary" onclick="copyQuizSection()" title="Copy content">Copy Text to Clipboard</button>
<p>&nbsp;</p>
