<h3>About Us</h3>
<p>This Free Bible Dictionary app is brought to you by Yesudas Solomon from "Word of God Team" a branch of "Word of God Ministries".</p>

<h3>Our Vision:</h3>
<p>All Things are From Jesus, By Jesus and For Jesus - Rom 11:36<br/>Freely you have Received; Freely Give - Matt 10:8</p>

<h3>Our Free Christian Apps</h3>
<a href="https://play.google.com/store/apps/developer?id=Yesudas+Solomon">Click Here to See Android Apps</a>

<h3>Our Websites:</h3>
<p>
    <!-- <a href="https://wordofgod.in/bibles/" target="_blank"><span class="glyphicon glyphicon-book"></span> Online Bibles</a><br/>
    <a href="https://wordofgod.in/bibledictionary/" target="_blank"><span class="glyphicon glyphicon-list-alt"> </span> Other Dictionaries</a> <br/> -->
    <a href="https://wordofgod.in/bible-wallpapers/" target="_blank"><span class="glyphicon glyphicon-picture"></span> Bible Wallpapers</a> <br/>
    <a href="https://wordofgod.in/" target="_blank"><span class="glyphicon glyphicon-book"></span> Free Christian Resources</a>
</p>
<h3>Our WhatsApp No:</h3>
<p>+91 7676505599</p>
<h3>Our Contacts:</h3>
<p>
    <strong>Email:</strong> wordofgod@wordofgod.in<br/>
    <strong>Mob:</strong> +91 7676505599
</p>
