<!-- pager -->
<div class="text-center">
    <p><strong>Disclaimer:</strong> The short description in english in the title like "Alpha" for the greek word G1 is given as a sample only for search. Remember, one Greek word can have more than one meaning in English & Tamil.</p>
</div>
<div class="text-center">
  <input type="text" ng-model="searchString" class="form-control" style="min-width: 200px" id="searchString" placeholder="Type Here to Search the Dictionary" required
    ng-keyup="searchDictionary()"/>
  <ul ng-if="vm.pager.pages.length" class="pagination">
  <li ng-class="{disabled:vm.pager.currentPage === 1}">
      <a ng-click="vm.setPage(1)">First</a>
  </li>
  <li ng-class="{disabled:vm.pager.currentPage === 1}">
      <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
  </li>
  <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
      <a ng-click="vm.setPage(page)">{{page}}</a>
  </li>
  <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
      <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
  </li>
  <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
      <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
  </li>
</ul>
</div>
    <div class="list-group">
          <a ui-sref="word({id:word.id, title: word.word})" class="list-group-item" ng-repeat="word in vm.items | filter:searchString">
            <h4 class="list-group-item-heading">{{word.word}}</h4>
          </a>
      </div>
    <!-- pager -->
    <div class="text-center">
    <ul ng-if="vm.pager.pages.length" class="pagination">
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
            <a ng-click="vm.setPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
        </li>
    </ul>
    </div>
<!--
<div class="list-group">
  <a ui-sref="word({id:word.id, title: word.word})" class="list-group-item" ng-repeat="word in Words">
    <h4 class="list-group-item-heading">{{$index+1}}. {{word.word}}</h4>
  </a>
</div>
-->
