<h3>Contact Us</h3>
<div class="alert alert-success" ng-show='addSuccess'>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Thank You for submiting!
</div>
<div class="alert alert-danger" ng-show='addError'>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Sorry, there was an error! Please try again later. <span ng-show="loggedin">{{message}}</span>
</div>
<form class="form-horizontal" role="form" ng-submit="sendContactUs()">
  <div class="form-group">
      <label for="yourname" class="col-sm-2 control-label">Your Full Name</label>
      <div class="col-sm-10">
          <input type="text" ng-model="yourname" class="form-control" id="yourname" placeholder="Your Full Name" required/>
      </div>
  </div>
  <div class="form-group">
      <label for="youremail" class="col-sm-2 control-label">Your Email</label>
      <div class="col-sm-10">
          <input type="email" ng-model="youremail" class="form-control" id="youremail" placeholder="Your Email" required/>
      </div>
  </div>
  <div class="form-group">
      <label for="yourmobile" class="col-sm-2 control-label">Your Mobile No</label>
      <div class="col-sm-10">
          <input type="number" ng-model="yourmobile" class="form-control" id="yourmobile" placeholder="Your Mobile No" required/>
      </div>
  </div>
  <div class="form-group">
      <label for="yourmessage" class="col-sm-2 control-label">Your Message</label>
      <div class="col-sm-10">
        <textarea rows="5" ng-model="yourmessage" class="form-control" id="yourmessage" placeholder="Your Message" required></textarea>
      </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" class="btn btn-primary" value="Send"/>
      </div>
  </div>

</form>
